# Node
node_modules/
npm-debug.log
yarn-error.log
docker-compose.dev.yml
koparide-backend/dockerfile.dev
koparide-frontend/dockerfile.dev
docker-compose.prod.example.yml
# Env
koparide-backend/.env
koparide-frontend/.env
.env.local
.env.*.local

# Logs
logs/
*.log
package.json
# Coverage
coverage/

# OS files
.DS_Store

# Build
dist/
build/
.idea

#files
uploads